header {
  text-align: center;
  padding: 2rem;
}

.gruppemedlemmer{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.arbeidskrav-liste {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.arbeidskrav-liste article{
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}

