header {
  text-align: center;
  padding: 2rem;
}

.gruppemedlemmer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  list-style: none;
  margin: 0;
}

.arbeidskrav-liste {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.arbeidskrav-liste article{
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}

